
## env.production

DATABASE_URL="TURSO DB URL"
DB_AUTH_TOKEN="TURSO DB TOKEN"

DATABASE_URL="LOCAL DB URL"

SMTP_USER="GMAIL"
SMTP_PASSWORD="APP_PASSWORD"

SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_PASSWORD=""

NEXT_PUBLIC_APP_URL="https://erp.themototrack.com"

JWT_SECRET="JWT_AUTH_SECRET"

# Cloudflare R2 Configuration
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME=""
R2_BUCKET_ENDPOINT=""
R2_PUBLIC_URL=""
R2_CDN_DOMAIN=""

# For local development, you might need CORS setup
NEXT_PUBLIC_R2_CDN_DOMAIN=""